.features {
  padding: 2rem 0;
  width: 100%;
}

.overview {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 996px) {
}

@media (max-width: 768px) {
}

.feature {
  text-align: center;
  margin: 0 auto;
  width: 20rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.slick-slider {
  margin: 0 auto;
  max-width: 800px;
}

.slick-slide {
  text-align: center;
  color: #333;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-dots {
  bottom: -30px;
}